.image-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images {
  width: 100%;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}